Repository flaskcwg/flask-docs-zh, pull requests merged in 2022-05, with the labels that each got.

#76 Translate docs/logging
  README.md
  docs/locales/zh_CN/LC_MESSAGES/logging.po
Labels: published

#108 Translate tutorial/blog
  README.md
  docs/locales/zh_CN/LC_MESSAGES/tutorial/blog.po
Labels: awaiting review, tutorial

#107 Translate tutorial/database
  README.md
  docs/locales/zh_CN/LC_MESSAGES/tutorial/database.po
Labels: awaiting review, tutorial

#96 Translate tutorial/factory
  README.md
  docs/locales/zh_CN/LC_MESSAGES/tutorial/factory.po
Labels: awaiting review, tutorial

#104 Translate tutorial/templates
  README.md
  docs/locales/zh_CN/LC_MESSAGES/tutorial/templates.po
Labels: tutorial, published

#89 Translate docs/becomingbig
  README.md
  docs/locales/zh_CN/LC_MESSAGES/becomingbig.po
Labels: reviewing, 我看好你哦

#80 Translate docs/deploying/mod_wsgi @180909
  README.md
  docs/locales/zh_CN/LC_MESSAGES/deploying/mod_wsgi.po
Labels: published
